.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    overflow-y: auto;
    margin: 2rem;

    .Intro {
        margin: 2rem 0;
        margin-top: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        * {
            text-align: center;
        }

        .Logo {
            font-size: 100px;
        }

        .Version {
            color: gray;
            margin-top: 0.2rem;
        }
    }

    .Bruh {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        .Logo {
            font-size: 40px;
        }

        p {
            color: gray
        }

        ;
    }

    .Disclaimer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
        justify-content: center;
    }
}